<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<style type="text/css">
			body {
				font-family: "华文细黑";
				width: 100%;
				height: auto;
				margin: 0px;
				padding: 0px;
				background: url(/static/app/img/splash.png) no-repeat;
				background-size: 100%;
			}
		</style>
		<script type="text/javascript">
			function init(){
				setTimeout(function(){window.location="login.html"},2500);
			}
		</script>
	</head>

	<body onload="init()">
	</body>

</html>