<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER LOGIN</title>
    <link rel="stylesheet" href="/static/css/login.css" />
	<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="/static/js/login.js" ></script>
</head>
<body>
    <div class="login_from" action="user?type=verification" method="post" >
    	<div class="login_title">用户登录</div>
        <div>
            <span>用&nbsp;&nbsp;&nbsp;户：</span>
            <input id="user" type="text" name="username" placeholder="请输入用户名" value="root"/>
        </div>
        <div>
            <span>密&nbsp;&nbsp;&nbsp;码：</span>
            <input id="pwd" type="password" name="password" placeholder="请输入密码" value="root"/>
        </div>
        <div>
            <input id="user_login" type="submit" value="登    录"/>
        </div>
    </div>
</body>
</html>