<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>模型信息</title>
<meta name="keywords" content="voice">
<meta name="description" content="voice">
</head>
<body>
<article class="page-container">
<form class="form form-horizontal" id="form-model-display">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>模型名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<label>{{m['model_name']}}</label>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">数据库名：</label>
		<div class="formControls col-xs-8 col-sm-9">
			{% for d in dts %}
				{% if d['db_id']==m['db_id'] %}
				<label>{{d['db_name']}}</label>
				{% end %}
			{% end %}
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">算法名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
				{% for al in als %}
					{% if al['cat_id']==m['cat_id'] %}
					 <label>{{al['cat_name']}}</label>
					{% end %}
				{% end %}
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">表名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
				{% for tb in tbs %}
					{% if tb['name']==m['model_tablename'] %}
					 <label>{{tb['name']}}</label>
					{% end %}
				{% end %}
		</div>
	</div>
	<div class="row cl" id="nichen">
		<label class="form-label col-xs-4 col-sm-3">参数和别名：</label>
		<div class="formControls col-xs-8 col-sm-9"><dl class="permission-list">
				<dd id="key-list">
				{% for alia in alias %}
				<div key="{{alia}}"  style="margin-top:5px;margin-bottom:5px;">
					<span style="width:150px;display: inline-block;text-align: center;">{{alia}}</span>：<label>{{alias[alia]}}</label>
				</div>
				{% end %}
				</dd>
		</dl>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;关闭&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/js/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/js/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	function init(){
		if($("#key-list div").length>0){
			$(nichen).show();
		}else{
			$(nichen).hide();
		}
	}
	init();
});
$("#form-model-display").validate({
	rules:{
		
	},
	onkeyup:false,
	focusCleanup:true,
	success:"valid",
	submitHandler:function(form){

		var index = parent.layer.getFrameIndex(window.name);
		parent.layer.close(index);
	}
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>