<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/static/css/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>我的桌面</title>
</head>
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎<span><b>{{user['user_name']}}</b></span>使用</p>
	<p>登录次数：{{user['login_count']}} </p>
	<p>上次登录IP：{{lh}}  上次登录时间：{{lt}}</p>
</div>
<footer class="footer mt-20">
	<div class="container">
			Copyright &copy;2017-12-18 markway ten voice .<br>
	</div>
</footer>
</body>
</html>